# Core
python-dotenv
dynaconf

# SDKs
picsellia==6.21.5
mlflow
bentoml

# CV/ML
ultralytics==8.0.200

# Traitement de données
pandas
numpy
opencv-python
scikit-learn
PyYAML
matplotlib
seaborn

# Utilitaires
tqdm
rich
typer

# Dev tools
pre-commit
black
ruff
mypy

# Test
pytest